@import "../../../../bower_components/uikit/scss/uikit-mixins";
@import "../../../../bower_components/uikit/scss/uikit-variables";

// your custom code goes here, e.g. mixins, variables
@import "../../../../bower_components/uikit/scss/uikit";
@import "../../../../bower_components/uikit/scss/components/slideshow";
@import "../../../../bower_components/uikit/scss/core/cover";
//@import "../../../../bower_components/uikit/scss/core/overlay";
@import "../../../../bower_components/uikit/scss/core/grid";





.quick{
    background: #eee;
    padding-left: 20px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

table{
    text-align: left;
}

.sheight{
    height: 300px;
}

.zindex{
    z-index: 1100;
}

.swidth{
    width:600px;
}
